.form{
    width: 700px;
    padding: 10px;
    
}
.login-form{
    width: 400px;
    margin: 0px auto;
}
.logo{
    font-weight: bold;
   
}
.header{
box-shadow: 4px 4px 5px gray;
}


.table{
border: 1px solid gray !important
}
td,th{
    vertical-align: middle ;
}
@media (max-width:700px) {
   .form{
       width: 100%;
   }    
}
@media (max-width:400px) {
    .login-form{
        width: 100%;
    }    
 }